@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  @apply scroll-mt-20;
}

body {
  font-family: quicksand, sans-serif;
}

nav a {
  @apply flex items-center gap-1 transition-opacity duration-500 hover:opacity-50;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply font-semibold text-green;
}

input,
textarea {
  @apply border-dark bg-transparent p-2 text-dark outline-none duration-500 focus:border-green;
}

input {
  @apply border-b px-0;
}

textarea {
  @apply w-full rounded-md border;
}

.form-field:focus-within label,
.form-field:has(input:not(:placeholder-shown)) label,
.form-field:has(textarea:not(:placeholder-shown)) label {
  @apply origin-left -translate-y-4 scale-90 opacity-100;
}

.form-field label {
  @apply pointer-events-none absolute translate-y-2 text-dark opacity-60 duration-500;
}

.slide-button {
  @apply h-full w-14 rounded-full bg-white duration-500 lg:hover:opacity-50;
}

.active {
  @apply overflow-hidden bg-opacity-50;
}

.progress-bar {
  @apply h-full w-full rounded-full opacity-100 transition-opacity duration-500;
}

.inactive {
  @apply opacity-0;
}

.active .progress-bar {
  @apply animate-slide-button;
}

.round-button {
  @apply w-fit rounded-full px-5 py-4 text-sm font-semibold duration-500 hover:opacity-50;
}

.container {
  --uib-size: 40px;
  --uib-color: green;
  --uib-speed: 2s;
  --uib-bg-opacity: 0;
  height: var(--uib-size);
  width: var(--uib-size);
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
  will-change: transform;
  overflow: visible;
}

.car {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.track {
  fill: none;
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
  transition: stroke 0.5s ease;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 0, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 75, 150;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dashoffset: -100;
  }
}
